nav {
  width: 100vw;
  position: fixed;
  top: 0;
  height: 4rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: bold;
  transition: 0.4s ease all;
  z-index: 9;
}
nav .navlink {
  margin: 0 2rem;
}
#icon {
  opacity: 0;
  transition: 0.4s ease all;
}
.bg-blur {
  background-color: rgba(0, 0, 0, 0.8);
}
