.loading {
  padding: 2rem;
  background-image: url("/images/yellow-bk.jpg");
  background-size: cover;
  max-width: 100vw;
  height: 100vh;
}
.loading > h2 {
  text-align: center;
  font-family: "Berkshire Swash", cursive;
  font-size: 3rem;
  color: #000;
}
.loading > img {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
